@import "variables";

// Reset

html {
  font-size: 112.5%; //18px
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: $barlow;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Typography

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
  font-size: 0.83rem;
  font-family: $barlow;
}

ul,
li,
.logo {
  display: inline-block;
}

// Helper Class

.container {
  max-width: 74.11rem;
  margin: 0 auto;
}

.mobile-hide {
  display: none;

  @include breakpoint(medium) {
    display: block;
  }
}
.desktop-hide {
  // display: block;

  @include breakpoint(medium) {
    display: none;
  }
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-d-c {
    flex-direction: column;
  }

  &-ai-c {
    align-items: center;
  }
  &-jc-c {
    justify-content: center;
  }
}
