.hero {
  background-image: url(/images/mobile/image-header.jpg);
  height: 70vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  @include breakpoint(medium) {
    background-image: url(/images/desktop/image-header.jpg);
    height: 95vh;
  }
}

.tittle {
  text-align: center;
  text-transform: uppercase;
  font-family: $fraunces;
  letter-spacing: 0.5rem;
  color: $white;

  h1 {
    margin: 2.77rem auto;
    font-size: 2.2rem;

    @include breakpoint(medium) {
      margin: 5.55rem auto;
    }
  }
}
