// Primary Colors

$soft-red: rgb(254, 120, 103);
$yellow: rgb(250, 212, 0);
$dark-desaturated-cyan: rgb(37, 86, 75);
$dark-blue: rgb(25, 83, 107);
$dark-moderate-cyan: rgb(69, 140, 126);

// Neutral Colors

$Very-dark-blue: rgb(35, 48, 62);
$Very-dark-grayish-blue: rgb(90, 99, 108);
$Dark-grayish-blue: rgb(129, 132, 152);
$Grayish-blue: rgb(167, 171, 174);
$white: rgb(255, 255, 255);

// font Family

$barlow: "Barlow", sans-serif;
$fraunces: "Fraunces", serif;

// font weight
$fw-m: 600;
$fw-b: 700;
$fw-eb: 900;

// Breakpoints
$breakpoints: (
  small: 499px,
  medium: 699px,
  large: 999px,
  xlarge: 1399px,
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}
